body {
    background-color: #F1FFFA;
    padding-left: 20px;
}

h1 {
    background-color: #93B7BE;
    display: flex;
    justify-content: center;
}

article {
    padding-top: 10px;
}

.artist {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
}