{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Details</title>{%endblock%}
</head>
<body>
    {% block content %}
    <h1 class='is-size-3'>A Closer look</h1>
    <h2>{{album.artist}}</h2>
    <h2>{{album.title}}</h2>
    <p>{{album.genre}}</p>
    {% if album.image %}
    <img src="{{album.image.url}}" alt="album cover">
    {% endif %}
    <button class='button is-primary'><a href="{% url 'edit-album' album.pk %}">Edit this entry</a></button>
    <button class='button is-primary'><a href="{% url 'delete-album' album.pk %}">Delete this entry</a></button>
{% endblock %}
</body>
</html>